<section id="about">
    <div class="container">
      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <h2 class="title">Sobre nosotros</h2>
          <p>
            Somos un equipo encargado en la atencion al cliente brindando servicios de telecomunicaciones y venta de recargas electrónicas tanto móviles como recargas de videojuegos para su mayor comodidad. 
          </p>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-shopping-bag"></i></div>
            <h4 class="title"><a [routerLink]="'/compra'">Compra Electronica</a></h4>
            <p class="description">Facilitamos la compra de tus recarga electrónicas móviles como tus videojuegos favoritos</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-shopping-bag"></i></div>
            <h4 class="title"><a [routerLink]="'/compra'">Escribenos</a></h4>
            <p class="description">Puedes escribirnos y enviarnos tus archivos que deseas imprimir o cualquier trabajo que necesites hacer, te ayudamos en un segundo</p>
          </div>

         <!--  <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div> -->

        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
      </div>

    </div>
  </section><!-- #about -->