<!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container wow fadeIn">
          <div class="section-header">
            <h3 class="section-title">Servicios</h3>
            <p class="section-description">Te preguntas que servicios ofrecemos pues dejame que te lo cuente.</p>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
              <div class="box">
                <div class="icon"><a routerLink="/compra"><i class="fa fa-desktop"></i></a></div>
                <h4 class="title"><a routerLink="/compra">Computadoras</a></h4>
                <p class="description">Ofrecemos mantenimiento preventivo y correctivo además te ofrecemos asesoramiento al momento de comprar un computador ya sea para el habito laboral, gaming o profecional.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
              <div class="box">
                <div class="icon"><a routerLink="/compra"><i class="fa fa-paper-plane"></i></a></div>
                <h4 class="title"><a routerLink="/compra">Envio de Ofertas</a></h4>
                <p class="description">Si aceptas nosotros estamos dispuestos a enviarte todas nuestras promociones que tengamos tanto en recargas electrónicas móviles como para tus videojuegos favoritos </p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
              <div class="box">
                <div class="icon"><a routerLink="/compra"><i class="fa fa-photo"></i></a></div>
                <h4 class="title"><a routerLink="/compra">Impresiones</a></h4>
                <p class="description">En nuestro local tendras la facilidad de poder imprimir tanto  hojas en A3 como en A4 con una excelente calidad de impresión gráfica.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
              <div class="box">
                <div class="icon"><a routerLink="/compra"><i class="fa fa-internet-explorer"></i></a></div>
                <h4 class="title"><a routerLink="/compra">Servicio de Cyber</a></h4>
                <p class="description">Realiza tus trabajos en nuestro local con la facilidad de un alto rendimiento en velocidad de internet</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
              <div class="box">
                <div class="icon"><a routerLink="/compra"><i class="fa fa-car"></i></a></div>
                <h4 class="title"><a routerLink="/compra">Te llevamos tu chip</a></h4>
                <p class="description">Ten la facilidad de comprar tu chip de tu operadora preferida y te lo llevamos hasta la comodidad de tu hogar.</p>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- #services -->


  <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
        <div class="container wow fadeIn">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3 class="cta-title">Asesoramiento</h3>
              <p class="cta-text"> No lo pienses mas y contactanos, utiliza ya nuestro servicios.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#contact">LLamanos</a>
            </div>
          </div>
  
        </div>
      </section><!-- #call-to-action -->
  
      <!--==========================
        Portfolio Section
      ============================-->
      <section id="portfolio">
        <div class="container wow fadeInUp">
          <div class="section-header">
            <h3 class="section-title">Nuestro Local</h3>
            <p class="section-description">Aqui podras ver fotografías de nuestro local.</p>
          </div>
          <div class="row">
  
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter=".filter-cab, .filter-reg, .filter-man, .filter-imp" class="filter-active">Todo</li>
                <li data-filter=".filter-cab">Cabinas</li>
                <li data-filter=".filter-reg">Recargas</li>
                <li data-filter=".filter-man">Mantenimiento</li>
                <li data-filter=".filter-imp">Impresiones</li>
              </ul>
            </div>
          </div>
  
          <div class="row" id="portfolio-wrapper">
            <div class="col-lg-3 col-md-6 portfolio-item filter-cab">
              <a >
                <img src="assets/img/portfolio/Cabina1.jpeg" alt="">
                <div class="details">
                  <h4>Cabinas</h4>
                  <span>Servicio telefónico</span>
                </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 portfolio-item filter-imp">
              <a >
                <img src="assets/img/portfolio/Impresora.jpeg" alt="">
                <div class="details">
                  <h4>Impresora WF-7610</h4>
                  <span>Impresora A3 o A4</span>
                </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 portfolio-item filter-cab">
              <a >
                <img src="assets/img/portfolio/Cabina2.jpeg" alt="">
                <div class="details">
                  <h4>Computadoras</h4>
                  <span>Servicio de internet</span>
                </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 portfolio-item filter-reg">
              <a >
                <img src="assets/img/portfolio/Movilway.jpg" alt="">
                <div class="details">
                  <h4>Sistema de Recagas</h4>
                  <span>Sistema seguro de recargas electrónicas</span>
                </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 portfolio-item filter-reg">
              <a href="">
                <img src="assets/img/portfolio/pagostore.PNG" alt="">
                <div class="details">
                  <h4>Sistema de recargas</h4>
                  <span>Sistema seguro para recarga de FREE FIRE</span>
                </div>
              </a>
            </div>
  
            <!-- <div class="col-lg-3 col-md-6 portfolio-item filter-imp">
              <a href="">
                <img src="assets/img/portfolio/web3.jpg" alt="">
                <div class="details">
                  <h4>Web 3</h4>
                  <span>Alored dono par</span>
                </div>
              </a>
            </div> -->
  
            <!-- <div class="col-lg-3 col-md-6 portfolio-item filter-reg">
              <a href="">
                <img src="assets/img/portfolio/card3.jpg" alt="">
                <div class="details">
                  <h4>Card 3</h4>
                  <span>Alored dono par</span>
                </div>
              </a>
            </div> -->
  
            <div class="col-lg-3 col-md-6 portfolio-item filter-cab">
              <a href="">
                <img src="assets/img/portfolio/Cabina3.jpeg" alt="">
                <div class="details">
                  <h4>Local</h4>
                  <span>Parte externa del local.</span>
                </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 portfolio-item filter-man">
              <a >
                <img src="assets/img/portfolio/Maquina1.jpeg" alt="">
                <div class="details">
                  <h4>Matenimiento</h4>
                  <span>Mantenimiento preventivo y correctivo</span>
                </div>
              </a>
            </div>
  
            <!-- <div class="col-lg-3 col-md-6 portfolio-item filter-man">
              <a href="">
                <img src="assets/img/portfolio/logo3.jpg" alt="">
                <div class="details">
                  <h4>Logo 3</h4>
                  <span>Alored dono par</span>
                </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 portfolio-item filter-imp">
              <a href="">
                <img src="assets/img/portfolio/web1.jpg" alt="">
                <div class="details">
                  <h4>Web 1</h4>
                  <span>Alored dono par</span>
                </div>
              </a>
            </div>
  
            <div class="col-lg-3 col-md-6 portfolio-item filter-man">
              <a href="">
                <img src="assets/img/portfolio/logo2.jpg" alt="">
                <div class="details">
                  <h4>Logo 2</h4>
                  <span>Alored dono par</span>
                </div>
              </a>
            </div> -->
  
          </div>
  
        </div>
      </section><!-- #portfolio -->
  
      <!--==========================
        Team Section
      ============================-->
      <section id="team">
        <div class="container wow fadeInUp">
          <div class="section-header">
            <h3 class="section-title">Equipo</h3>
            <p class="section-description">Conoce cuales son los encargados de brindarte la mejor atención.</p>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="assets/img/Movistar.jpg" alt=""></div>
                <h4>Claudina Uribe</h4>
                <span>Jefe</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <!-- <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="assets/img/.jpg" alt=""></div>
                <h4></h4>
                <span></span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div> -->
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="assets/img/antho.jpeg" alt=""></div>
                <h4>Anthony Cruz</h4>
                <span>Diseñador, Atención al cliente, Técnico Automotriz</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="assets/img/brayan.jpeg" alt=""></div>
                <h4>Geovanny Rodriguez</h4>
                <span>Atención al cliente, Mantenimiento de computadoras</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- #team -->      



     