<!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Contacto</h3>
          <p class="section-description">Aqui podras obtener la dirección de nuestro local.</p>
        </div>
      </div>

      <!-- Uncomment below if you wan to use dynamic maps -->
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d296.5405138940208!2d-78.5502312263403!3d-0.3158901520366086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5a23c13d6d483%3A0x454ee480da12daa7!2sDe%20Eventos!5e0!3m2!1ses!2sec!4v1605274805290!5m2!1ses!2sec" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

      <div class="container wow fadeInUp mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>S48-67<br>NUEVA AURORA, CALLE FENICIO ANGULO</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p>damon123braa@gmail.com</p>
              </div>

              <div>
                <a href="https://wa.me/593995901335?text=Hola%20necesito%20una%20recarga%20"  target="_blank">
                   <i class="fa fa-whatsapp"></i>
                <p>0995901335</p>
                </a>
               

              </div>

              <div>
                <a href="https://wa.me/593999913645?text=Hola%20necesito%20una%20recarga%20" target="_blank">
                 <i class="fa fa-whatsapp"></i>
                <p>0999913645</p>
                </a>
                
              </div>

            </div>

            <div class="social-links">
              <a  class="twitter"><i class="fa fa-twitter"></i></a>
              <a  class="facebook"><i class="fa fa-facebook"></i></a>
              <a  class="instagram"><i class="fa fa-instagram"></i></a>
              <a  class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a  class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <!-- <div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Ingrese al menos 4 caracteres" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Por favor introduzca una dirección de correo electrónico válida" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Ingrese al menos 8 caracteres de asunto" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor escribe algo para nosotros" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- #contact --> 


<!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Telejas</strong>. Todos los Derechos Reservados
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>